# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
moitruongao/
# Logs
*.log
# Temp files
*.tmp
*~
.DS_Store  # macOS
Thumbs.db  # Windows

# Nếu bạn có file cấu hình riêng tư (API key, password,...)
utils/cau_hinh_rieng.py  # Ví dụ
#Nếu bạn không muốn chia sẻ memory
memory/